.containerabout {
  width: 400px;
  height: 450px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #979090;
  color: rgb(26 27 46);
  margin: 30px;
}

.containerabout .imagen {
  width: 90px;
  position: relative;
  border-radius: 20px;
}
